<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Circular Navigation - Demo 1 | Codrops</title>
		<meta name="description" content="Circular Navigation Styles - Building a Circular Navigation with CSS Transforms | Codrops " />
		<meta name="keywords" content="css transforms, circular navigation, round navigation, circular menu, tutorial" />
		<meta name="author" content="Sara Soueidan for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component1.css') }}" />
		<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>
<body style="font-family: Gabriola;font-size: large;font-weight: bold;background-image: url(https://www.rmit.edu.au/media/public-site-media-production/rmit-images/college-of-dsc-images/DSC_HiRes-1220x732.jpg);background-repeat: no-repeat;background-size: cover">
<div >
    <div class="col-md-offset-3 col-md-6">
<div class="panel-body">
<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    </button>
                    <h4 style="color: black" class="modal-title">
                        Categories
                    </h4>
                </div>
                <div class="modal-body">



<div class="row">
    <div class="col-md-6">
        <div class="msht-title">
            <h4 style="color: black">
                Apps
            </h4>
        </div>
        <ul>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='books-reference')}}">
                        Books &amp; Reference
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='business')}}">
                        Business
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='comics')}}">
                        Comics
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='communication')}}">
                        Communication
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='education')}}">
                        Education
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='entertainment')}}">
                        Entertainment
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='finance')}}">
                        Finance
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='health-fitness')}}">
                        Health &amp; Fitness
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='libraries-demo')}}">
                        Libraries &amp; Demo
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='lifestyle')}}">
                        Lifestyle
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='live-wallpaper')}}">
                        Live Wallpaper
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='media-video')}}">
                        Media &amp; Video
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='medical')}}">
                        Medical
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='music-audio')}}">
                        Music &amp; Audio
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='news-magazines')}}">
                        News &amp; Magazines
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='personalization')}}">
                        Personalization
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='photography')}}">
                        Photography
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='productivity')}}">
                        Productivity
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='religious')}}">
                        Religious
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='shopping')}}">
                        Shopping
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='social')}}">
                        Social
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='sports')}}">
                        Sports
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='tools')}}">
                        Tools
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='transportation')}}">
                        Transportation
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='travel-local')}}">
                        Travel &amp; Local
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='weather')}}">
                        Weather
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='widgets')}}">
                        Widgets
                    </a>
                </li>

        </ul>
    </div>
    <div class="col-md-6">
        <div class="msht-title">
            <h4 style="color: black">
                Games
            </h4>
        </div>
        <ul>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='action')}}">
                        Action
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='adventure')}}">
                        Adventure
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='arcade')}}">
                        Arcade
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='board')}}">
                        Board
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='casual')}}">
                        Casual
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='educational')}}">
                        Educational
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='family')}}">
                        Family
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='music')}}">
                        Music
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='puzzle')}}">
                        Puzzle
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='racing')}}">
                        Racing
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='role-playing')}}">
                        Role Playing
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='simulation')}}">
                        Simulation
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='sports-game')}}">
                        Sports
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='strategy')}}">
                        Strategy
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='trivia')}}">
                        Trivia
                    </a>
                </li>

                <li>
                    <a href="{{url_for('showCat',page=0,cat='word')}}">
                        Word
                    </a>
                </li>

        </ul>
    </div>
</div>
</div>
            </div>
    </div>
    </div>
</div>
<!-- Start Nav Structure -->
				<button class="cn-button" id="cn-button"style="color: black !important;">+</button>
				<div style="color: black " class="cn-wrapper" id="cn-wrapper">
				    <ul>
				      <li><a href="/about"><span class="glyphicon glyphicon-user"></span></a></li>
				      <li><a href="/categories"><span class="glyphicon glyphicon-th-list"></span></a></li>
				      <li><a href="/"><span class="icon-home"></span></a></li>
				      <li><a href="/search"><span class="icon-search"></span></a></li>
				      <li><a href="/contact"><span class="icon-envelope-alt"></span></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay"></div>
				<!-- End Nav Structure -->



		<script src="{{ url_for('static', filename='js/polyfills.js') }}"></script>
		<script src="{{ url_for('static', filename='js/demo1.js') }}"></script>

</body>
</html>